<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="hospital_root_menu" name="Gabriel Hospital" sequence="0"/>

    <menuitem id="menu_patient_master" name="Patient Details" parent="hospital_root_menu" sequence="0"/>

    <menuitem id="menu_appointment_master" name="Appointments" parent="hospital_root_menu" sequence="0"/>

    <menuitem id="menu_dummy_menu_master" name="Dummy menu" parent="hospital_root_menu" sequence="0"/>

</odoo>

